@model Zameen.Models.ViewModels.BuildingViewModel
@using Zameen.Extensions

@{
    ViewData["Title"] = "Add New Building";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="alert alert-primary text-center">Add New Building</h1>


<div class="col-md-6 offset-md-3">
    <div class="card border-success rounded shadow-lg p-3">
        <div class="card-body">
            <form method="post" asp-action="Create">

                <div class="form-group">
                    <label class="font-weight-bold" asp-for="Countries"></label>
                    <select class="custom-select mb-2 country" asp-for="Building.CountryId" asp-items="Model.Countries.ToSelectListItem()"></select>
                    <span class="text-danger" asp-validation-for="Building.CountryId"></span>
                </div>

                <div class="form-group">
                    <label class="font-weight-bold" asp-for="Cities"></label>
                    <select class="custom-select mb-2 city" asp-for="Building.CityId" asp-items="Model.Cities.ToSelectListItem()"></select>
                    <span class="text-danger" asp-validation-for="Building.CityId"></span>
                </div>

                <div class="form-group">
                    <label class="font-weight-bold" asp-for="Building.Name"></label>
                    <textarea asp-for="Building.Name" class="form-control mb-2" placeholder="Enter Building Description"></textarea>
                    <span class="text-danger" asp-validation-for="Building.Name"></span>
                </div>

                <div class="form-group">
                    <label class="font-weight-bold" asp-for="Building.Address"></label>
                    <input asp-for="Building.Address" class="form-control mb-2" placeholder="Enter Building Name" />
                    <span class="text-danger" asp-validation-for="Building.Address"></span>
                </div>

                <div class="form-group">
                    <button class="btn btn-success" type="submit"><i class="fas fa-building"></i> Add New Building</button>
                    <a asp-action="Index" asp-controller="Building" class="btn btn-warning"><i class="fas fa-arrow-left"></i> Back</a>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts
{
    <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">

        $(function () {

            var countryDdl = $(".country");
            var cityDdl = $(".city");
            cityDdl.prop('disabled', true);

            countryDdl.change(function () {
                if ($(this).val() == "0") {
                    cityDdl.prop('disabled', true);
                    cityDdl.val("0");
                } else {
                    cityDdl.prop('disabled', false);
                    $.ajax({
                        url: "/api/cities/" + $(this).val(),
                        method: "GET",
                        success: function (data) {
                            cityDdl.prop('disabled', false);
                            cityDdl.empty();
                            cityDdl.append($('<option/>', { value: '0', text: '-- Select City --' }));
                            $(data).each(function (index, item) {
                                cityDdl.append($('<option/>', { value: item.id, text: item.name }));
                            });
                        }
                    });
                }
            });

        });

    </script>

}