.nav-item .nav-link,.navbar-brand {
    color: #fff !important;
    transition: all .4s ease-in-out;
}

    .nav-item .nav-link:hover, .navbar-brand:hover {
        color: #d4d4d4 !important;
    }

.dropdown-menu {
    background-color: #555 !important;
}
    .dropdown-menu .dropdown-item {
        color: #fff !important;
        transition: all .4s ease-in-out;
    }
        .dropdown-menu .dropdown-item:hover {
            color: #d4d4d4 !important;
            background-color: transparent !important;
        }